* {
  font-family:'Consolas',sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.section-me{
  display: flex;
  flex-direction: column;
}
.flex{
  display: flex;
}
.img-me{

  width: 43vh;
}

#main {
  background-color: hsla(0, 0, 0, .55);
}
@media only screen and (min-width: 1920px) {
  #main {
    background: url("https://i.pinimg.com/originals/86/3f/e1/863fe14cb5aaaf1fb6c24d3620da6718.jpg")
      no-repeat;
    height: 500px;
  }
  .nav-item,
  .navbar-nav {
    margin: 20px;
  }
  #name {
    font-size: 6.5rem;
  }
  .img-me{
    width: 20vw;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1919px) {
  #main {
    background: url("https://i.pinimg.com/originals/86/3f/e1/863fe14cb5aaaf1fb6c24d3620da6718.jpg")
    /*background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1))20%, url("https://i.pinimg.com/originals/86/3f/e1/863fe14cb5aaaf1fb6c24d3620da6718.jpg")*/
      no-repeat;
    height: 500px;
  }
  .nav-item,
  .navbar-nav {
    margin: 20px;
  }
  #name {
    font-size: 6.5rem;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1365px) {
  #main {
    background: url("https://i.pinimg.com/originals/86/3f/e1/863fe14cb5aaaf1fb6c24d3620da6718.jpg")
      no-repeat;
    height: 500px;
  }
  .nav-item,
  .navbar-nav {
    margin: 20px;
  }
  #name {
    font-size: 3.5rem;
  }
  .img-me{
    width: 30vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  #main {
    background: url("https://i.pinimg.com/originals/86/3f/e1/863fe14cb5aaaf1fb6c24d3620da6718.jpg")
      no-repeat;
    height: 500px;
  }
  #name {
    font-size: 3.5rem;
  }
  .img-me{
    width: 39vw;
  }
}

@media only screen and (max-width: 767px) {
  #main {
    background: url("https://i.pinimg.com/originals/86/3f/e1/863fe14cb5aaaf1fb6c24d3620da6718.jpg")
      no-repeat;
    height: 500px;
  }
  #name {
    font-size: 3.5rem;
    margin-left: 20px !important;
  }
  .line-1 {
    margin-right: 80px;
    margin-left: 20px !important;
  }
  .img-me{
    width: 90%;
    height: 90%;
  }
}

#main {
  background-size: cover;
}

.navbar-nav {
  font-size: 2rem;
}

#about,
#contact {
  background-color: #e9ecefb3;
}

.aboutHeading {
  font-size: 4rem;
  padding-top: 100px;
  padding-bottom: 20px;
}

.aboutPG {
  font-size: 2rem;
  padding-bottom: 100px;
  padding-top: 48px;
}

/*Text Font */

#name {
  margin-left: 65px;
}

/* Global */
.line-1 {
  position: relative;
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  margin-left: 65px;
  margin-top: 20px;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(48) 1s 1 normal both,
    blinkTextCursor 500ms steps(48) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 11.2em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

form {
  padding-bottom: 100px;
  padding-top: 48px;
}

/*Footer*/

html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%; /* Set the fixed height of the footer here */
  line-height: 10%; /* Vertically center the text there */
  background-color: #16bff3;
}

.footer-text {
  color: white;
  text-align: center;
}

/*Submit Button*/
.btn {
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
  position: relative;
  transition: all 0.15s ease-in-out;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus {
  outline: none;
  transition: all 0.15s ease-in-out;
}
.btn:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-in-out;
  transform: translateY(-1px);
}
.btn:active {
  box-shadow: none;
  transition-duration: 0.05s;
  transform: translateY(1px);
}
.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active {
  background-color: #f8f8f8;
}
.btn.btn-default:active {
  background-color: #eeeeee;
}
.btn.btn-info {
  background-color: #3498db;
}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn.btn-info:active {
  background-color: #2383c4;
}
.btn.btn-info:active {
  background-color: #2077b2;
}
.btn.btn-primary {
  background-color: #7caae7;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
  background-color: #253544;
}
.btn.btn-primary:active {
  background-color: #1e2a37;
}
.btn.btn-success {
  background-color: #2ecc71;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn.btn-success:active {
  background-color: #26ab5f;
}
.btn.btn-success:active {
  background-color: #239a55;
}
.btn.btn-warning {
  background-color: #f39c12;
}
.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn.btn-warning:active {
  background-color: #d2850b;
}
.btn.btn-warning:active {
  background-color: #be780a;
}
.btn.btn-danger {
  background-color: #e74c3c;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger:active {
  background-color: #df2e1b;
}
.btn.btn-danger:active {
  background-color: #cd2a19;
}

/*Project Cards*/
.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: "";
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 50px;
  left: 1.25rem;
  width: 150px;
  height: 150px;
}

.card-custom-avatar img:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-fluid {
  background-color: #7ed956;
  width: 30vw
}

#project1 {
  background: #21d4fd linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}

#project2 {
  background: #21d4fd linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}

#portfolio {
  background: #21d4fd linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}

#projectCards {
  margin-bottom: 100px !important;
}


section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  position: absolute;
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  display: flex;
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
.codew{
  height: 40px;
}