{% extends "pwa/base.html" %}
  
{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'pwa/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower"> Hi I'm Juan </span>
            <span class="section-heading-upper">Creative, visionary, innovative, and analytical, 
            I like to learn by solving problems and developing projects to transform data into decisions. 
            I usually invest my time complimenting my skills in programming, data science, 
            and machine learning to propose more efficient solutions in business, systems, or machines. </span>
          
          </h2>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row" >
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">...</span>
                <span class="section-heading-lower">...</span>
              </h2>
              <p class="mb-0">...</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}
