<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">

<head>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12" id="resHead">
        <h3>The Resume Of</h3>
        <h1>Juan Ivan Nuñez Baeza</h1>
        <img width=150px class="img-responsive" src="{{url_for('static', filename='logoi.png')}}" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6" id="workExp">
        <h1 class="heading">About me</h1>
        <p>
          Hey there, my name is Ivan and I'm a data analyst with background on automotive engineering, formed at the IPN
          and Ironhack,
          where I've been developing different scripts related to the correct treatment of big amounts of data to get
          the best insights as possible
          and bring desitions closer to reality or what could be. Personally, I´m very interested in data science,
          machine learning,
          and computer vision, because by implementing its different models or techniques in different areas would help
          us to detect certain needs
          and then satisfy it efficiently with few resources, saving time, giving accuracy, or less error.
        </p>

        <h1 class="heading">Work Experience</h1>
        <h2 class="title">ZF</h2>
        <h3 class="subtitle">Engineering intern</h3>
        <h4 class="date">From: 06-2018 - To: 01-2019 </h4>
        <p>
          Description:
          I have had the opportunity to appreciate and help during the operations starting with this new
          manufacturing automotive factory by making engineering migration and development to install machines,
          also making tests and getting all ready to launch the different production lines with the best OEE as
          possible.
        </p>
        <p>
          Responsibilities:
          Toolroom management and administration to supply all the lines with enough tools to avoid dead times.
          Tool life evaluation and testings in collaboration with suppliers to get the best performance as possible with
          different machine parameters or tool modifications.
          Tooling inventories administration for all the lines.
          Creation and modification of programs to give a correct preset to the tools.
        </p>

      </div>
      <div class="col-xs-12 col-md-6" id="skillEdu">
        <h1 class="heading">Skillset</h1>

        <h2 class="title">Programming</h2>
        <p>
          Python, OpenCV, MongoDB, MySQL, Bash, NLP understanding, Maths, H2O.ai Aquarium, Keras, Databases.
        </p>
        <h1 class="heading">Education</h1>
        <h2 class="title">Ironhack</h2>
        <h3 class="subtitle">Bootcamp data analytics</h3>
        <h2 class="title">Instituto Politécnico Nacional</h2>
        <h3 class="subtitle">Automotive systems engineering</h3>

      </div>
      <div class="col-xs-12 col-md-6" id="skillEdu">
        <h1 class="heading">Languages</h1>
        <h2 class="title">English - TOEIC 590</h2>
      </div>
      <div class="col-xs-12 col-md-6" id="skillEdu">
        <h1 class="heading">Achievements</h1>
        <h2 class="title">Event - Year - Achievement</h2>
      </div>
    </div>
    <div class="row">
      <div class="contact col-xs-12">
        <img width=100px class="img-responsive" src="{{url_for('static', filename='letter.png')}}" />
        <h1 class=" title">Contact</h1>
        <p class="subtitle">
          Mexico <br />
          55745, Estado de Mexico<br />
          juanivannb142@gmail.com <br />
          <a href="tel:phone">+(52)5538184717</a><br />
          <a target="_blank" href="https://www.linkedin.com/in/juan-ivan-nu%C3%B1ez-baeza-3b7019a7/">linkedIn</a><br />
          <a target="_blank" href="https://www.codewars.com/users/JI_NV">Codewars</a><br />
          <a target="_blank" href="https://github.com/juan-ivan-NV?tab=repositories">GitHub</a><br />
      </div>
    </div>
  </div>

</body>

</html>