@import url(https://fonts.googleapis.com/css?family=Orbitron);

body {
  font-family: 'Lora';
  background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../img/bg_main.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
p,
h6 {
  font-family: "Bitstream Vera Sans Mono", monospace;
}

p {
  line-height: 1.75;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Orbitron', sans-serif;
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  padding-bottom:.5rem;

}

.section-heading .section-heading-lower {
  display: block;
  font-size: 2rem;
  font-weight: 100;
}


.section-heading .section-heading-under {
  display: block;
  font-size: 1rem;
  text-transform: none;
  font-weight: 300;
  margin-top:.5rem;
}

.bg-faded {
  border: 30px solid #06b9ee;
  border-right: 5px solid #06b9ee;
  border-left: 5px solid #06b9ee;
  border-bottom: 24px solid #06b9ee;
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
  background-color: rgba(139, 0, 185, 0.22);
  font-size: 1.2rem;
  color: white;
  text-shadow: 0 0 5px rgba(21,171,195,0.7);

}

#mainNav {
  background-color: rgba(36,198,224,1.0);
  font-family: 'Orbitron', sans-serif;
  box-shadow: 0 0 10px rgba(36,198,224,1.0);
}

#mainNav .navbar-brand {
  color: #000000;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #1d2124;
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #1d2124;
  text-decoration: underline;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: underline;
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}

.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 60%;
    float: left;
  }
  .intro .intro-text {
    left: 600;
    width: 60%;
    margin-top: auto;
    border: 30px solid #06b9ee;
    border-right: 5px solid #06b9ee;
    border-left: 5px solid #06b9ee;
    border-bottom: 24px solid #06b9ee;
    clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
    background-color: rgba(139, 0, 185, 0.22);
    font-size: 1.2rem;
    color: white;
    position: absolute;
    text-shadow: 0 0 5px rgba(21,171,195,0.7);
}


}
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 55%;
  }
}

.cta {
  padding-top: 5rem;
  padding-bottom: 7rem;
  background: url(https://thumbs.gfycat.com/TenderRealisticHoneybadger-size_restricted.gif);
  background-position: center;
  background-size: auto;
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(139, 0, 185, 0.22);
  color: cornsilk;
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
}

.cta .cta-innerv {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: #03ebd7d9;
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
  }
  .product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
  }
  .product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
  }
}



@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address strong {
  font-size: 1.2rem;
}

.footer {
   background-color: #1e0023a1;
}



.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}



.font-weight-light {
  font-weight: 100 !important;
}

.mbtm{
  padding-top: 5rem;
}

.mbt{
  padding-top: 2rem;
}

.mbt1{
  padding-top: 1.25rem;
}

a.link{
  color: rgba(255, 255, 255, 0.7);
}

a.link:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.section-content{
  font-family: 'Orbitron', sans-serif;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
}

ul.errorlist{
  padding-top: .75rem;
  font-style: italic;
  color: red;
}

.linksCategories{
  color: white;
  text-decoration: underline;
  font-family: 'Orbitron', sans-serif;
}


.containerForm{
  background: linear-gradient(rgba(0,0,0,0.5),
  rgba(0,0,0,0.5)), url(https://steamuserimages-a.akamaihd.net/ugc/948464026876143240/25779DE7199E398CE52CF68C3B37D10052E2050D/);
  background-position: center;
  background-size: auto;
  width: 45%;
  margin: 3% auto;
  border-radius: .25rem;
  padding: 1.5% 0px;
}

.rowsform{
  color: white; 
  margin: auto;
  background: aqua;
  text-align: center;
}


.footerbtn {
  background-color: #100010a1;
  font-family: 'Orbitron', sans-serif;;
  font-size: 20px;
  transition: width ease .5s;
  border-bottom: 1px solid rgba(21, 171, 195, 1.0);
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 0 9px rgba(21, 171, 195, 1.0);
  -webkit-box-shadow: 0 0 9px rgba(21, 171, 195, 1.0);
  box-shadow: 0 0 9px rgba(21, 171, 195, 1.0);
  color: blue;
  color: rgba(21, 171, 195, 1.0);
  margin: 0 5px;
}
.footerbtn:hover {
  background-color: #FFF;
  color: blue;
  color: rgba(21, 171, 195, 1.0);
}




/* Testing fonts */

.app {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1;
  
}

@keyframes scan {
  0% {
      background-position: 0 -100vh;
  }
  35%,
  100% {
      background-position: 0 100vh;
  }
}

x-sign {
  --interval: 2s;
  display: block;
  text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2), 0 0 40px var(--color3), 0 0 80px var(--color4), 6px 2px 4px rgba(195, 154, 63, 0.48), 10px 6px 0px rgba(83, 47, 0, 0.78);
  will-change: filter, color;
  filter: saturate(80%);
  color: #f7f69e;
  --color1: #17b8b6f0;
  --color2: #0098ff;
  --color3: #002eff;
  --color4: #2e008b;
}

.glitch {
  margin: auto;
  text-transform: uppercase;
  font-family: 'Orbitron', sans-serif;
  animation: flicker steps(100) var(--interval) 1s infinite;
}

@keyframes flicker {
  50% {
      color: white;
      filter: saturate(200%) hue-rotate(20deg);
  }
}

.__city {
  margin-bottom: 0.022rem !important;
  font-weight: 900;
  font-size: 150%;
}
